asyncpg==0.27.0
databases==0.7.0
fastapi==0.96.1
python-environ==0.4.54
uvicorn==0.22.0


alembic==1.11.1
psycopg2-binary==2.9.6
websockets==11.0.3
APScheduler==3.10.1
pytest==7.3.2
pytest-async==0.1.1